/* Header */
.header {
  background-color: seagreen;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 15px;

  h1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-weight: 700;
  }
}