/* Header */
.header {
  background-color: seagreen;
  text-align: center;
  padding: 2px;

  h1 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-weight: 400;
  }
}